* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  font-size: 14px;
  background-color: rgb(240, 252, 255);
}

.nav {
  background-color: rgba(9, 33, 253, 0.986);
  display: flex;
  margin-top: 50px;
}

.brand-name {
  color: white;
  display: flex;
  font-size: xx-large;
  margin-left: 70px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.home {
  color: white;
  display: flex;
  font-size: x-large;
  text-decoration: none;
  margin-left: 40%;
  margin-top: 15px;
}

.add-new {
  color: white;
  display: flex;
  font-size: x-large;
  text-decoration: none;
  margin-left: 6%;
  margin-top: 15px;
}

.search-bar {
  display: flex;
  margin-left: 6%;
  margin-top: 15px;
  margin-bottom: 1%;
}

.teachers-container {
  justify-content: center;
  list-style: none;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  margin-top: 30px;
}

.teacher-name {
  font-size: x-large;
}

.teacher-card-div {
  height: 225px;
  width: auto;
  position: relative;
  margin-top: 40px;
  margin-right: 5%;
  margin-left: 5%;
  align-items: center;
  border-width: 5px;
}

section {
  width: 100%;
  min-height: 100vh;
  display: flex;
}

.teacher-image {
  height: 275px;
  width: 200px;
  margin-left: 20px;
}

.teacher-instrument {
  margin-left: 38%;
}

.teacher-years {
  margin-left: 27%;
}

.favorite-btn {
  border: none;
  background: none;
  margin-left: 46%;
  padding: 0 0.25rem;
  cursor: pointer;
}

.delete-btn {
  border: none;
  background: none;
  padding: 0 0.25rem;
  cursor: pointer;
}

/* profile page CSS is below this line */


.profile-container {
  margin-top: 20px;
  border-width: 4px;
  border-color: blue;
}

.profile-card {
  width: 1000px;
  margin-left: 40%;
}

.profile-teacher-image {
  margin-top: 20px;
  margin-left: 33%;
  height: 450px;
  width: 330px;
}
.profile-experience-title {
  margin-left: 20px;
  font-size: large;
}

.profile-teacher-name {
  margin-left: 33%;
  font-size: xx-large;
}

.profile-teacher-info {
  margin-left: 30%;
}
.profile-instrument {
  font-size: xx-large;
  margin-left: 19%;
}

.contact {
  text-decoration: underline;
}

.experience-info {
  margin-left: 5%;
  margin-right: 43%;
}

/* form CSS */
.add-a-new-teacher-header {
  margin-top: 50px;
  margin-left: 45%;
}

.new-teacher-form {
  display: grid;
  max-width: 250px;
  padding-top: 5px;
  padding-top: 10px;
  align-items: center;
  margin-left: 43%;
  margin-top: 50px;
}

.submit-btn {
  margin-left: 16%;
  margin-right: 9%;
  margin-top: 15px;
}