* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  font-size: 14px;
}

.nav {
  background-color: rgba(9, 33, 253, 0.986);
  display: flex;
  margin-top: 50px;
}

.brand-name {
  color: white;
  display: flex;
  font-size: xx-large;
  margin-left: 70px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.home {
  color: white;
  display: flex;
  font-size: x-large;
  text-decoration: none;
  margin-left: 40%;
  margin-top: 15px;
}

.add-new {
  color: white;
  display: flex;
  font-size: x-large;
  text-decoration: none;
  margin-left: 6%;
  margin-top: 15px;
}

.search-bar {
  display: flex;
  margin-left: 6%;
  margin-top: 15px;
  margin-bottom: 1%;
}

.teachers-container {
  justify-content: center;
  list-style: none;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  margin-top: 50px;
  
}

.teacher-name {
  font-size: x-large;
  align-content: center;
}

.teacher-card-div {
  height: 225px;
  width: auto;
  position: relative;
  margin-top: 50px;
  margin-right: 5%;
  margin-left: 5%;
  align-items: center;
  border-width: 5px;
  border-color: blue;
}

section {
  width: 100%;
  min-height: 100vh;
  display: flex;
}

.teacher-image {
  height: 275px;
  width: 200px;
  margin-left: 20px;
}

.favorite-btn {
  border: none;
  background: none;
  padding: 0 0.25rem;
  cursor: pointer;
}

.delete-btn {
  border: none;
  background: none;
  padding: 0 0.25rem;
  cursor: pointer;
}

.delete-btn:hover {
  border-color: firebrick;
  cursor: pointer;
}

/* profile page CSS is below this line */


.profile-container {
  margin-top: 40px;
  border-width: 4px;
  border-color: blue;
}

.profile-card {
  width: 1000px;
  margin-left: 40%;
}

.profile-teacher-image {
  margin-top: 20px;
  margin-left: 33%;
  height: 550px;
  width: 430px;
}
.profile-experience-title {
  margin-left: 50px;
}

.profile-teacher-name {
  margin-left: 33%;
}

.contact {
  text-decoration: underline;
}
/* className='teacher-name' */


/* className='years' */

/* className=' */
/* className='profile-card' */